body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}

.Field {
  width: 100px;
  height: 100px;
  /*border: 1px black solid;*/
  margin: 0 1px 0 1px;
  display: inline-block;
  background-image: url('/images/rewers.png')
}

.Status {
  font-size: 24px;
}

.button-link {
  background-image: url('/images/button.png');
  width: 190px;
  height: 40px;
  background-repeat: no-repeat;
  margin-left: 110px;
}

.button-link:hover {
  background-image: url('/images/button_hover.png');
}

#content {
  width: 450px;
  margin: 0 auto;
}

.navigation .octicon {
  text-align: center;
}

.mega-octicon {
  font-size: 72px;
}
