body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;

  display: block;
  background-image: url('/images/wallpaper.jpg');
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  -webkit-filter: blur(3px);
}

.page-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.Field {
  width: 100px;
  height: 100px;
  margin: 0 1px 0 1px;
  display: inline-block;
  background-image: url('/images/rewers.png')
}

.Status {
  font-size: 24px;
  font-weight: bolder;
  color: white;
  margin-left: 110px;
}

.button-link {
  background-image: url('/images/button.png');
  width: 190px;
  height: 40px;
  background-repeat: no-repeat;
  margin-left: 110px;
}

.button-link:hover {
  background-image: url('/images/button_hover.png');
}

#content {
  padding: 30px;
  width: 450px;
  margin: 0 auto;
}

.navigation .octicon {
  text-align: center;
}

.mega-octicon {
  font-size: 72px;
}
